.khushi {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   font-weight: bolder;
    /* color:  #FFEB55; */
}

.slideshow-k {
    position: relative;
    width: 218vh;
    height: 85vh;
    overflow: hidden;
}

.slide-k {
   
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: slideAnimation 12s infinite; /
}

@keyframes slideAnimation {
    0% { opacity: 0; }
    5% { opacity: 1; }
    33% { opacity: 1; }
    38% { opacity: 0; }
    100% { opacity: 0; }
}


.slide-k:nth-child(1) {
    animation-delay: 0s;
}

.slide-k:nth-child(2) {
    animation-delay: 2s; 
}

.slide-k:nth-child(3) {
    animation-delay: 4s; 
}
.slide-k:nth-child(4) {
    animation-delay: 6s;
}
.slide-k:nth-child(5) {
    animation-delay: 8s;
}


/* technovation style */


#bg-blur-k{
    position: absolute;
    top: 320vh;
    left: 0;
    width: 218vh;
    height: 155vh;
    background-image: url(blur.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(6px);
    z-index:-1;
  }

#details-k {
    padding: 2px 0;
}

.box-about-k {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    flex-wrap: wrap;
}

.box-about-k .image-k {
    flex: 1;
    margin-right: 2px;
    /* margin-left: 300px; */
}

.box-about-k .image-k img {
    max-width: 40%;
    border-radius: 10px;
    margin-top: 20px;
    max-height: 40%;
    
}

.box-about-k .info-k{
    flex: 1;
    
}

h2 {
    font-size: 45px;
    margin-bottom: 1rem;
    color: rgba(190, 49, 49, 0.847)
}

.p-k {
    font-size: 25px;
    line-height: 1.8;
    font-weight: bolder;
    color: yellow;
}
