footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    padding: 10px;
    color: #ff004d;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section p {
    margin: 10px 0;
}

.footer-section a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.socials {
    margin-top: 10px;
}

.socials a {
    color: #f95959;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    border: 3px solid blueviolet;
    border-radius: 30%;
    font-size: xx-large;
}

.socials a:hover {

    color: blue; /* Change color on hover */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
