
#container-s {
    width: 400px;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#bg-blur-s {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(rvit.jpg); /* Add your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px); /* Apply the blur here */
    -webkit-filter: blur(8px);
    z-index: -1; /* Send behind other content */
}



.login-form-s {
    text-align: center;

}

.login-form-s h1 {
    margin-bottom: 20px;
}

.input-field-s {
    margin-bottom: 20px;
}

.input-field-s label {
    display: block;
    margin-bottom: 10px;
}

.input-field-s input {
    width: 90%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: rgb(159, 128, 188);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #3e8e41;
}
input:hover {
    border: 2px solid black;
}

/* suhail 2nd navbar */
.navbar1 {
    height: 90px;
    background-color: #fff;
}
#big1-s {
    padding: 5px;
    margin: 0%;
    height: 90px;
    width: 1500px;
    display: flex;
    justify-content: space-around;
}
.child-big-s {
    height: 80px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    

}
.img-s {
    height: 65px;
    width: 105px;
}
.child-big-s input {
    margin-top: 15px;
    border: 0;
    box-shadow: 3px 4px rgb(106, 100, 100);
    height: 25px;
    width: 325px;
    border-radius: 25px;
}
#icon-s {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
    
}
